# Dependencies
node_modules

# Build outputs
dist
build

# Environment
.env
.env.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal